<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mortarifabio.desafiowebservices">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_spiderman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_spiderman_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesafioWebServices">
        <activity
            android:name=".authentication.view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".comics.view.ComicDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.view.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comics.view.ComicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comics.view.CoverZoomActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>